#IF.CODE [Format] == $"PE64" //comment: PE64 если находит
	code.append: {
		format PE64 CONSOSOLE
		entry start
		
		include 'win64w.inc'
	}

#SECTION "section '.data' data readable writeable"
	.../param::variables

#SECTION "section '.code' code readable executable"
	code.append: {
		start:
			
	}	
	code.append: {.../param::code}

#SECTION "section '.idata' import data readable writeable"
	...//param::library::WISEL_STANDART